<center>
	<h1>Welcome to Hangman</h1>
	<h2>Would you like to play?</h2>
	<h3>Please enter a secret word to play!!</h3>
<br><br>
<form method="post" action="setup">
	<input type="password" name="key_word"  autofocus="autofocus" required>
	<h3>Please Enter Your Name</h3>
	<input type="text" name="username" required>
 
	<input type="submit"><br><br><br>

	<a href = "/auto_word">Click here to have a word picked for you.(HARD)</a>
</form>

<img class= "loser" src= "/img/man.jpeg"> <img class= "loser" src= "/img/board.jpeg">
</center>