<center><h1> Sorry you are out of guesses. The keyword was <%=keyword%> .</h1>
<img class= "loser" src= "/img/hangman_loser.jpeg"></center>
<br><br><br><br><center><a href = "/">PLAY AGAIN</a></center>